.header{
    color: #091e42;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Clash Grotesk', sans-serif;
}

.navy{
    color: #091e42;
}

.bg-navy{
    background-color: #091e42;
}
.archivo{
    font-family: 'Archivo', sans-serif;
}

.movie{
    font-size: 4em;
    color: #091e42;
    /* border: 2px solid black; */
}


.field{
width: 100%;
border-radius: 4px;
margin-top: 2em;
padding-top: 0.7em;
padding-bottom: 0.7em;
}

.field:focus{
    border-color: #091e42;
    outline: none;
}
.icon {
    position: absolute;
   right: 10%;
   top: 37%;
    cursor: pointer;
     z-index: 1;/* To help the icon e visible the input is on focus */
     color: black;
  }
