.space{
  padding-bottom: 2em !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.black{
  background-color: black;
  padding: 1em 2em;
  
  /* margin-top: -3em; */
  /* color: white; */
}
.white{
  color: black;
}
.text{
  color: white!important;
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.favtext{
  color: white!important;
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 1em !important;
  font-weight: bold;
  text-align: left !important;
}
.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 10%;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}


.right{
  right: 22%;
  top: 20%;
}

.remove{
  left: 95%;
  top: 20%;
  border: 1px solid white;
}